/* -- Global -- */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: catamaran, sans-serif;
}
.page-container {
  min-height: 80vh;
}
button {
  text-transform: uppercase;
}
.btn-success {
  color: #fff;
}
.btn:hover {
  color: #fff;
}
a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: catamaran, sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 2.8rem;
  font-weight: 200;
}
h2 {
  font-size: 1.7rem;
  font-weight: 200;
}
h3 {
  font-size: 1rem;
  font-weight: 200;
}
p {
  font-family: roboto slab, serif;
  font-size: 1rem;
}
li {
  list-style: none;
}

.font-d {
  font-family: droid serif, serif;
}
.font-c {
  font-family: catamaran, sans-serif;
}
.font-r {
  font-family: roboto slab, serif;
}

.text-w {
  color: #fff;
}
.text-b {
  color: #222222;
}
.text-y {
  color: #fec503;
}
.text-small {
  font-weight: 200;
  font-size: .8rem;
}
.text-large {
  font-size: 2.8rem;
}
.text-mute {
  color: #888888;
}
.text-bold {
  font-weight: 400;
}

.btn {
  font-family: catamaran, sans-serif;
}

.sp-14 {
  margin-top: 14rem;
}
.sp-12 {
  margin-top: 12rem;
}
.sp-9 {
  margin-top: 9rem;
}
.sp-6 {
  margin-top: 6rem;
}
.sp-5 {
  margin-top: 5rem;
}
.sp-3 {
  margin-top: 3rem;
}
.sp-2 {
  margin-top: 2rem;
}
.sp-1 {
  margin-top: 1rem;
}
.sp-.5 {
  margin-top: .5rem;
}

.pd-14 {
  padding-top: 14rem;
}
.pd-9 {
  padding-top: 9rem;
}
.pd-6 {
  padding-top: 6rem;
}
.pd-5 {
  padding-top: 5rem;
}
.submit-button {
  text-transform: uppercase;
  font-weight: 400;
}
input, textarea, .form-control {
  font-family: roboto slab, serif;
  font-size: 1rem;
}
textarea {
  height: 10rem;
}




/* -- Project Page -- */
.projects-table th:nth-child(1) {
  width: 50%;
}
.projects-table th:nth-child(2) {
  width: 25%;
}
.projects-table th:nth-child(3) {
  width: 25%;
}





/* -- Course Sub-page -- */

.progress-header {
  background-color: #f2f2f2;
  padding: 1.5rem;
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
}

.progress-bar {
  background-color: #5cb85c;
}

.fa-arrow-circle-o-left {
  color: #5cb85c;
  transition: .2s;
}

.fa-arrow-circle-o-left:hover {
  color: #449d44;
  transition: .2s;
}

.progress {
  background-color: #fff;
  border: 1px solid #eceeef;
}

iframe {
  width: 100%;
}



/* -- Course -- */

#intermediate {
  border-radius: .25rem 0 0 .25rem;
}
#master {
  border-radius: 0 .25rem .25rem 0;
}
@media (max-width: 576px) {
  #intermediate h2, #master h2 {
    font-size: 1.5rem;
  }
}
.skill-selection {
  background-color: #f2f2f2;
}
.skill-selector h2 {
  padding: .75rem 0;
  margin: 0;
  text-transform: uppercase;
  color: #222222;
}
.skill-selector {
  transition: .1s;
  cursor: pointer;
}
.skill-selector:hover {
  background-color: #fec503;
  transition: .1s;
}
.course-col, .status-col, .icon-col {
  width: 17%;
  font-weight: 700;
}
.description-col {
  width: 49%;
  font-weight: 700;
}
.course-header {
/*  padding: 0;
  margin-right: 0;*/
  font-family: roboto slab, serif;
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
  background-color: #f2f2f2;
}
.course-header div {
  padding: .75rem;
}
#course-container {
  height: 18rem;
  overflow-y: scroll;
}
#course-container th {
  padding: 0;
  border: none;
}

#course-container tr:hover {
  background-color: #f2f2f2;
}
.course-link {
  color: #fff;
}
.course-link:hover {
  color: #fff;
}

.course-status-0, .course-status-1, .course-status-2 {
  text-decoration: none;
  text-transform: uppercase;
}

.course-button-0 {
  color: #fff;
  background-color: #d9534f;
}
.course-button-0:hover {
  background-color:
}
.course-button-1, .course-button-2 {
  background-color: #5cb85c;
}
.course-button-1:hover, .course-button-2:hover {
  background-color: #449d44
}








/* -- Analysis -- */
.search-section, .timeline-section {
  background-color: #f2f2f2;
  border: 1px solid rgba(0,0,0,.15);
  padding: 1rem;
  min-width: 962px;
}
.search-field {
  padding: 0;
}
.search-header {
  font-size: 1.4rem;
}
.results-box {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  overflow-y: scroll;
  width: 100%;
  background-color: #fff;
}
#search-results-box {
  height: 18rem;
}

.results {
  font-family: roboto slab, serif;
  line-height: 2rem;
  font-size: .9rem;
  padding-left: 0rem;
}

.results li {
  padding-left: .5rem;
}
.results li:hover {
  background-color: #f2f2f2;
}
.selected {
  background-color: #bfffd7;
}
.checkbox {
  font-family: roboto slab, serif;
  font-size: .9rem;
}
.checkbox span {
  font-size: .9rem;
}
@media (max-width: 1070px) {
  .checkbox span {
    font-size: .75rem;
  }
}
#drag-media-box {
  height: 30.4rem;
}
.media-info {
  padding: 0;
}
.media-info {
  font-family: roboto slab, serif;
  font-size: 1rem;
  line-height: 1rem;
}
.media-info li {
  margin-top: 1rem;
}
.media-info li span {
  display: inline-block;
  font-size: .8rem;
  color: #888888;
}
#hide-button {
  text-transform: uppercase;
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.album-cover {
  width: 100%;
  padding-bottom: .5rem;
  max-width: 270px;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-result {
  cursor: pointer;
}
.search-result:hover {
  background-color: #f2f2f2;
}
.deselect {
  cursor: pointer;
}
.deselect:hover {
  background-color: #f2f2f2;
}





/* -- Timeline --*/
#timeline-section {
  min-width: 962px;
  width: 100%;
}
.track, .track-header {
  background: #fff;
}
.track {
  height: 100px;
  margin-top: 1rem;
}
.track-header {
  position: relative;
  border: 1px solid rgba(0, 0, 0, .15);
  width: 210px;
}
.workspace {
  border: 1px solid rgba(0, 0, 0, .15);
  margin-left: -1px;
  flex: 1 1 auto;
}
.audio-file-region {
  height: 80%;
}
.audio-file-info {
  border-top: 1px solid rgba(0, 0, 0, .15);
  height: 20%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  margin: 0;
}
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5cb85c;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #d9534f;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.slider.round {
  border-radius: 12px;
}
.slider.round:before {
  border-radius: 50%;
}
.track-label {
  font-family: catamaran, sans-serif;
  font-size: .7rem;
  text-transform: uppercase;
}
.header-controls-container {
  position: absolute;
  bottom: 4px;
  margin: 0;
  width: 100%;
  padding: 0 12px;
}
.track-handle {
  position: absolute;
  top: 2px;
  left: 4px;
}
.track-handle:hover {
  color: #5cb85c;
}
.controls-left {
  padding: 0;
}
.clear-button {
  height: 1.5rem;
  font-size: .7rem;
  font-weight: lighter;
}
.fa-arrow-up:hover, .fa-arrow-down:hover {
  color: #5cb85c;
}
.audio-file-info span {
  color: #888888;
}
#zoom-control {
  position: relative;
  width: 230px;
}
#zoom-control:before {
  position: absolute;
  content: "-";
  left: -15px;
  align-self: center;
}
#zoom-control:after {
  position: absolute;
  content: "+";
  right: -15px;
  align-self: center;
}
.media-controls i:hover {
  color: #5cb85c;
}
.fa-play {
  width: 27.438px;
}






/* -- Tools -- */

.col-temperament {
  width: 30%;
}
.col-tuning {
  width: 70%;
}
.table {
  font-family: roboto slab, serif;
}
.resources-list {
  padding-left: 0;
}





/* -- Nav -- */

.nav-item {
  padding-right: 1.25rem;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-brand span {
  margin-left: 6px;
  font-weight: 500;
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: #fec503;
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0;
  }
  .navbar-brand span {
    font-size: 1rem;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background-color: #222222;
  font-weight: 300;
  text-transform: uppercase;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #222222;
  font-size: .9rem;
}

.nav-link {
  color: #fff;
  font-size: .9rem;
}

.nav-link:hover {
  color: #fec503;
}

.dropdown-item:hover {
  background-color: #dddddd;
}


/* -- Footer -- */

footer {
  height: 10rem;
  background-color: #222222;
  font-family: catamaran, sans-serif;
  font-size: .8rem;
  font-weight: 200;
}


.footer-list {
  border-top: solid 2px #fec503;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-list li {
  line-height: 1.7em;
}

.footer-list a {
  color: #888888;
}

.footer-list a:hover {
  color: #fec503;
}


/* -- Hero -- */

.masthead {
  background-color: #222222;
  background-image: url("/images/background.jpg");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.masthead:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #222222, #222222);
	opacity: .6;
  }

.site-title h1{
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  font-size: 3.5rem;
  line-height: .9em;
}

.site-title h1 span {
  font-size: .57em;
  border-top: solid 2px #fec503;
}

#down-arrow-row {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

#down-arrow-row div h3 {
  color: #fff;
  font-weight: 200;
  padding-bottom: 5px;
}

#down-arrow {
  width: 40px;
}

#down-arrow > circle, #down-arrow > polyline {
  transition: .3s;
}

.arrow-circle-fade {
  fill: #fec503;
}

.arrow-fade {
  stroke: #222222;
}


/* -- Home -- */

.page-title {
  font-weight: 200;
  font-size: 2.8rem;
}

.sub-title {
  font-family: droid serif, serif;
  font-style: italic;
  font-size: 1rem;
  text-transform: none;
  padding-top: .5rem;
}

.icon {
  width: 100%;
}
@media (max-width: 576px) {
  .icon {
    padding-top: 3rem;
  }
}


/* -- Login -- */

#language-dropdown a {
  color: #222222;
}

.panel-selector {
  border-bottom: 1px solid #888888;
}

.heading-selector {
  margin-bottom: 1.1rem;
  font-family: catamaran, sans;
  text-transform: uppercase;
}

.form-link {
  color: #888888;
  text-decoration: none;
}

.form-link:hover, .form-link:focus, .form-link:active {
  color: #fec503;
  text-decoration: none;
}

.active {
  color: #fec503;
}
.active2 {
  background-color: #fec503;
}

#login-form, #register-form {
  display: block;
}

.login-button {
  width: 100%;
}

.quote-row div img {
  width: 100%;
}

.quote {
  font-family: droid serif, serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #888888;
}

@media (max-width: 768px) {
  .quote {
    text-align: center;
    padding-top: 1rem;
  }
}
